<div class="list-group">
  <a href="#" class="list-group-item active" ><i class="icon-group"></i>
     Candidates
  </a>
  {{#candidates}}
    <a class="list-group-item candidate"
        data-username="{{username}}"
        data-repoName="{{repo}}"
        href="/track/{{username}}/repo/{{repo}}/matches">
            <i class="icon-user"></i> {{fullName}} </a>
  {{/candidates}}
</div>

<script type="text/javascript">

    var candidates = document.querySelectorAll('.candidate');

    for (var i = 0; i < candidates.length; i++) {
        var candidate = candidates[i];
        candidate.addEventListener('click', function(e){
            e.preventDefault();
            var repo = document.querySelector('.repoName');

            var username = e.target.getAttribute('data-username');
            var repoName = repo.value;

            var url  = '/track/' + username + '/repo/' + repoName + '/matches';

            //var url = repoName.value ? : '';
            //console.log(url);

            jQuery.get(url, function(result){
                //console.log(result);
                document.querySelector('.candidate-file-details').innerHTML = result;
            });


        })
    }

</script>
