
<div class="row">

    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">Project</h3>
            </div>
            <form class="" action="/track" method="post">
                <div class="panel-body">
                        <strong>Project:</strong>
                        <select class="form-control repoName" name="repoName">
                            {{#projects}}
                            <option value="{{repoName}}" {{selected}}>{{projectName}}
                            {{/projects}}
                        </select>
                        <br>
                    <strong>User group:</strong>
                    <select class="form-control" name="groupId">
                        {{#userGroups}}
                            <option value="{{_id}}" {{selected}}>{{name}}</option>
                        {{/userGroups}}
                    </select>
                </div>
                <div class="panel-body">
                    <input class="btn btn" type="submit" name="groupMembers" value="Get members">
                </div>
            </form>

        </div>

        {{>user-panel}}
    </div>
    <div class="col-md-4 candidate-file-details">

    </div>
</div>
